@import "tailwindcss";
.custom-mobile-img {
  transform: scale(1.5);
  /* width: 100%; */
}
/* scrollbar */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar:horizontal {
  height: 4px; /* instead of width */
}
::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.custom-shadow {
  box-shadow: 4px 18px 50px 28px rgba(15, 1, 1, 0.099);
}
.text-shadow {
  text-shadow: 3px 20px 40px rgb(0, 0, 0);
}
